<h1>Sign Up</h1>
<div class="error message">
    <% if @user.errors.any? %>
        <% @user.errors.full_message.each do |msg| %>
            <%= msg %>
        <% end %>
    <% end %>
</div>
<div>
    <%= form_for @user do |f| %>
        Username: <%= f.text_field :name %><br>
        Password: <%= f.password_field :password %><br>
        Password Confirmation: <%= f.password_field :password_confirmation %><br>
        <%= f.submit %>
    <% end %>
</div>